.wrapper-landing {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 5em;
}

.wrapper-landing h1 {
  font-size: 1.8em;
}

.wrapper-landing p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.content2 {
  padding-top: 2em;
}
