.App-header {
  position: relative;
  height: 20em;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-header img {
  height: 20em;
  width: 100%;
  object-fit: cover;
  opacity: 30%;
}
